<!DOCTYPE html>
<html lang="en">

<head>

    <title>Apollo Hospitals Admin - Add Patients</title>

  <% include ./partials/head %>
    
</head>

<body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
        <!-- Sidebar -->
        <% include ./partials/sidebar %>
        
        <!-- End of Sidebar -->

        <!-- Content Wrapper -->
        <div id="content-wrapper" class="d-flex flex-column">
            <!-- Main Content -->
            <div id="content">
                <!-- Topbar -->
                <% include ./partials/topbar %>
                
                <!-- End of Topbar -->

                <!-- Begin Page Content -->
                <div class="container-fluid">
                    <!-- Page Heading -->
                    <div class="d-sm-flex align-items-center justify-content-between mb-4">
                        <h1 class="h3 mb-0 text-gray-800">Add Patients</h1>
                        <a href="#" class="d-none d-sm-inline-block btn btn-sm btn-primary shadow-sm"><i class="fas fa-download fa-sm text-white-50"></i> Generate
                            Report</a>
                    </div>

                    <!-- Content Row -->

                    <div class="row">
                        <!-- Area Chart -->
                        <div class="col-xl-8 col-lg-7">
                            <div class="card shadow mb-4">
                                <!-- Card Header - Dropdown -->
                                <div class="card-header py-3 d-flex flex-row align-items-center justify-content-between">
                                    <h6 class="m-0 font-weight-bold text-primary">
                                        Patient Information
                                    </h6>
                                </div>
                                <!-- Card Body -->
                                <div class="card-body">
                                    <form class="user" action="../Patient/newPatient" method="post">
                                        <div class="form-group row">
                                            <div class="col-sm-12 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-patient" id="firstName" placeholder="Name" name="name" />
                                            </div>
                                        </div>
                                        <div class="form-group">
                                            <input type="email" class="form-control form-control-patient" id="email" placeholder="Email Address" name="email" />
                                        </div>
                                        <div class="form-group">
                                            <input type="phone" class="form-control form-control-patient" id="phone" placeholder="Phone No" name="phone" />
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-patient" id="patientID" placeholder="Patient ID" name="patientID" />
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <input type="number" class="form-control form-control-patient" id="age" placeholder="Age" name="age" />
                                            </div>
                                            <div class="col-sm-4 mb-3 mb-sm-0">
                                                <select name="gender" id="gender" class="form-control form-control-patient">
                                                    <option selected disabled>Gender</option>
                                                    <option value="male">Male</option>
                                                    <option value="female">Female</option>
                                                    <option value="others">Nikil</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="text" class="form-control form-control-patient" id="relativeName1" name="relatives[name]" placeholder="Relative Name" />
                                            </div>
                                            <div class="col-sm-6 mb-3 mb-sm-0">
                                                <input type="phone" class="form-control form-control-patient" id="relativePhone1" name="relatives[phone]" placeholder="Phone No" />
                                            </div>
                                        </div>
                                        <div id="placeholder-box"></div>
                                        <div class="form-group row">
                                            <div class="col-sm-12 ">
                                                <input id="addRelatives" class="form-control form-control-patient btn-outline-secondary" type="button" value="Add Relatives" />
                                            </div>
                                        </div>
                                        <div class="form-group row">
                                            <div class="col-sm-12 ">
                                                <input class="form-control form-control-patient btn-primary" type="submit" value="Submit" />
                                            </div>
                                        </div>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <!-- /.container-fluid -->
            </div>
            <!-- End of Main Content -->

            <!-- Footer -->
            <footer class="sticky-footer bg-white">
                <div class="container my-auto">
                    <div class="copyright text-center my-auto">
                        <span>Double Helix 2019</span>
                    </div>
                </div>
            </footer>
            <!-- End of Footer -->
        </div>
        <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <!-- Scroll to Top Button-->
    <% include ./partials/footer%>
    <script>
        var addBtn = document.getElementById("addRelatives");

        var box = document.getElementById("placeholder-box");
        var count = 1;
        addBtn.addEventListener("click", function(event) {
            count++;
            box.innerHTML +=
                '<div class=\"form-group row\">\r\n        <div class=\"col-sm-6 mb-3 mb-sm-0\">\r\n            <input\r\n            type=\"text\"\r\n            class=\"form-control form-control-patient\"\r\n            id=\"relativename\"\r\n            placeholder=\"Relative Name\"\r\nname=\"relatives[relative' +
                count +
                '][name]\"\r\n            \/>\r\n        <\/div>\r\n        <div class=\"col-sm-6 mb-3 mb-sm-0\">\r\n            <input\r\n            type=\"phone\"\r\n            class=\"form-control form-control-patient\"\r\n            id=\"exampleRepeatPassword\"\r\n            placeholder=\"Phone No\"\r\nname=\"relatives[relative' +
                count + '][phone]\"\r\n            \/>\r\n        <\/div>\r\n    <\/div>';
        });
    </script>
</body>

</html>
