<!DOCTYPE html>
<html lang="en">
  <head>

    <title>Apollo Hospitals Admin - Add Patients</title>
    <%include ./partials/head%>
  </head>

  <body id="page-top">
    <!-- Page Wrapper -->
    <div id="wrapper">
      <!-- Sidebar -->
      <% include ./partials/sidebar%>
      <!-- End of Sidebar -->

      <!-- Content Wrapper -->
      <div id="content-wrapper" class="d-flex flex-column">
        <!-- Main Content -->
        <div id="content">
          <!-- Topbar -->

          <% include ./partials/topbar%>

          <!-- End of Topbar -->

          <!-- Begin Page Content -->
          <div class="container-fluid">
            <!-- Page Heading -->
            <h1 class="h3 mb-2 text-gray-800">Camera Status</h1>

            <!-- DataTales Example -->
            <div class="card mb-4">
              <div class="card-body">
                <div class="table-responsive">
                  <table
                    class="table table-bordered"
                    id="dataTable"
                    width="100%"
                    cellspacing="0"
                  >
                    <thead>
                      <tr>
                        <th>Camera ID</th>
                        <th>Bed Number</th>
                        <th>Room Number</th>
                        <th>PatientID</th>
                        <th>View Stream</th>
                      </tr>
                    </thead>
                    <tfoot>
                      <tr>
                        <th>Camera ID</th>
                        <th>Bed Number</th>
                        <th>Room Number</th>
                        <th>PatientID</th>
                        <th>View Stream</th>
                      </tr>
                    </tfoot>
                    <tbody>
                    <% for(var i=0; i<cameras.length; i++) {%>
                    <tr>
                      <td><%= cameras[i].cameraID%></td>
                      <td><%= cameras[i].bedNumber%></td>
                      <td><%= cameras[i].roomNumber%></td>
                      <td><%= cameras[i].patientID%></td>
                      <td>
                        <a href="" class="btn btn-primary btn-icon-split" >
                          <span class="icon text-white-50">
                            <i class="fas fa-eye"></i>
                          </span>
                          <span class="text">View Stream</span>
                        </a>
                      </td>
                    </tr>
                    <%}%>
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          <!-- /.container-fluid -->
        </div>
        <!-- End of Main Content -->

        <!-- Footer -->
        <footer class="sticky-footer bg-white">
          <div class="container my-auto">
            <div class="copyright text-center my-auto">
              <span>Double Helix 2019</span>
            </div>
          </div>
        </footer>
        <!-- End of Footer -->
      </div>
      <!-- End of Content Wrapper -->
    </div>
    <!-- End of Page Wrapper -->

    <% include ./partials/footer %>
  </body>
</html>
